<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= f.label :title %>
      <%= f.text_field :title, id: "groupId" %>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <%= f.submit class: 'btn waves-effect waves-light indigo', id: "btn-create-group" %>
    </div>
  </div>

<% end %>
